In [1]:
import os
import pandas as pd

pd.set_option('display.max_colwidth', None)

df = pd.read_csv(os.path.join('..', 'data', 'data.csv'))
df.describe()

,brand,model,price,km,year,status,licensePlate,transmission,fuel,cylinderCapacity,color,link,site
count,87,87,87,87,87,87,36,87,87,87,81,87,87
unique,7,16,26,19,10,2,8,8,4,12,8,58,4
top,Nissan,Exclusive Aut,71500000,18,2019,usado,4,Automática,Gasolina,4,rojo,https://wwwcarroyacom/detalle/usado/nissan/kicks/2019/bogota/1936006,tu-carro
freq,45,15,4,16,20,84,8,45,73,24,20,4,45

In [2]:
df.dtypes

brand               object
model               object
price               object
km                  object
year                object
status              object
licensePlate        object
transmission        object
fuel                object
cylinderCapacity    object
color               object
link                object
site                object
dtype: object

In [3]:
df

,brand,model,price,km,year,status,licensePlate,transmission,fuel,cylinderCapacity,color,link,site
0,Nissan Kicks,Exclusive Aut,71500000,5500,2019,usado,8,Automática,Gasolina,1598,otro,https://wwwcarroyacom/detalle/usado/nissan/kicks/2019/bogota/1936006,carro-ya
1,Nissan Kicks,Advance,77900000,14500,2020,usado,2,Mecánica,Gasolina,1600,plateado,https://wwwcarroyacom/detalle/usado/nissan/kicks/2020/bogota/2033548,carro-ya
2,Nissan Kicks,,74900000,20415,2019,usado,1,Mecánica,Gasolina,20415,airbags,https://wwwcarroyacom/detalle/usado/nissan/kicks/2019/bogota/2033450,carro-ya
3,Nissan Versa,Exclusive Aut,74800000,19300,2020,usado,9,Secuencial,Gasolina,1600,plateado,https://wwwcarroyacom/detalle/usado/nissan/versa/2020/bogota/2032393,carro-ya
4,Nissan Kicks,Exclusive Aut,94800000,2736,2021,usado,3,Secuencial,Gasolina,1600,gris,https://wwwcarroyacom/detalle/usado/nissan/kicks/2021/bogota/2031785,carro-ya
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Nissan,Nuevo Nissan Versa Exclusive 2022,78000000,2500,2022,usado,NaN,Automática,Gasolina,4,rojo,https://articulotucarrocomco/MCO-847681691-nuevo-nissan-versa-exclusive-2022-_JM#position=15&search_layout=grid&type=item&tracking_id=4da86e39-fc75-45a7-b29d-113a52448d05,tu-carro
83,Nissan,Nissan Sentra 18 B17 Fl Exclusive,85900000,18,2021,usado,NaN,Mecánica,Gasolina,4,rojo,https://articulotucarrocomco/MCO-825726230-nissan-sentra-2021-18-b17-fl-exclusive-_JM#position=42&search_layout=grid&type=item&tracking_id=d70e50df-dd13-4b96-8443-907840107e66,tu-carro
84,Nissan,Nissan Kicks 16 Exclusive,75400000,Camioneta,2019,usado,NaN,16,5,Automática,gasolina,https://articulotucarrocomco/MCO-622295780-nissan-kicks-2019-16-exclusive-_JM#position=15&search_layout=grid&type=item&tracking_id=c9ea9778-4041-4fe9-9258-ddff69cf6f60,tu-carro
85,Kicks,Advance,58000000,26000,2018,usado,NaN,manual 5 velocidades,Gasolina,1598 cc,NaN,https://wwwautocosmoscomco/auto/usado/nissan/kicks/advance/3bad4da09cfe42c59a62be7673cf382b,autocosmos
86,Sentra,Exclusive Aut,42500000,44700,2016,usado,NaN,automática CVT,Gasolina,1798 cc,NaN,https://wwwautocosmoscomco/auto/usado/nissan/sentra/exclusive-aut/e2046ce53e564c96b5fc6d0edfe81be3,autocosmos

In [4]:
df[['brand', 'model', 'price', 'km', 'year', 'link']]

,brand,model,price,km,year,link
0,Nissan Kicks,Exclusive Aut,71500000,5500,2019,https://wwwcarroyacom/detalle/usado/nissan/kicks/2019/bogota/1936006
1,Nissan Kicks,Advance,77900000,14500,2020,https://wwwcarroyacom/detalle/usado/nissan/kicks/2020/bogota/2033548
2,Nissan Kicks,,74900000,20415,2019,https://wwwcarroyacom/detalle/usado/nissan/kicks/2019/bogota/2033450
3,Nissan Versa,Exclusive Aut,74800000,19300,2020,https://wwwcarroyacom/detalle/usado/nissan/versa/2020/bogota/2032393
4,Nissan Kicks,Exclusive Aut,94800000,2736,2021,https://wwwcarroyacom/detalle/usado/nissan/kicks/2021/bogota/2031785
...,...,...,...,...,...,...
82,Nissan,Nuevo Nissan Versa Exclusive 2022,78000000,2500,2022,https://articulotucarrocomco/MCO-847681691-nuevo-nissan-versa-exclusive-2022-_JM#position=15&search_layout=grid&type=item&tracking_id=4da86e39-fc75-45a7-b29d-113a52448d05
83,Nissan,Nissan Sentra 18 B17 Fl Exclusive,85900000,18,2021,https://articulotucarrocomco/MCO-825726230-nissan-sentra-2021-18-b17-fl-exclusive-_JM#position=42&search_layout=grid&type=item&tracking_id=d70e50df-dd13-4b96-8443-907840107e66
84,Nissan,Nissan Kicks 16 Exclusive,75400000,Camioneta,2019,https://articulotucarrocomco/MCO-622295780-nissan-kicks-2019-16-exclusive-_JM#position=15&search_layout=grid&type=item&tracking_id=c9ea9778-4041-4fe9-9258-ddff69cf6f60
85,Kicks,Advance,58000000,26000,2018,https://wwwautocosmoscomco/auto/usado/nissan/kicks/advance/3bad4da09cfe42c59a62be7673cf382b
86,Sentra,Exclusive Aut,42500000,44700,2016,https://wwwautocosmoscomco/auto/usado/nissan/sentra/exclusive-aut/e2046ce53e564c96b5fc6d0edfe81be3

In [5]:
df[['price', 'km']].mean()

/tmp/ipykernel_136179/351686574.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[['price', 'km']].mean()

Series([], dtype: float64)

In [6]:
df[['price', 'km']].describe().astype(int)

           price  km
count         87  87
unique        26  19
top     71500000  18
freq           4  16

In [7]:
k_ex = df[df['model'].str.contains('exclusive', case=False)]

In [8]:
k_ex[['brand', 'model', 'price', 'km', 'year', 'link']]

,brand,model,price,km,year,link
0,Nissan Kicks,Exclusive Aut,71500000,5500,2019,https://wwwcarroyacom/detalle/usado/nissan/kicks/2019/bogota/1936006
3,Nissan Versa,Exclusive Aut,74800000,19300,2020,https://wwwcarroyacom/detalle/usado/nissan/versa/2020/bogota/2032393
4,Nissan Kicks,Exclusive Aut,94800000,2736,2021,https://wwwcarroyacom/detalle/usado/nissan/kicks/2021/bogota/2031785
6,Nissan Kicks,Exclusive Aut,74990000,37000,2019,https://wwwcarroyacom/detalle/usado/nissan/kicks/2019/bogota/2019238
7,Nissan Sentra,18 Exclusive Plus CVT,65000000,41000,2018,https://wwwcarroyacom/detalle/usado/nissan/sentra/2018/bogota/2030647
...,...,...,...,...,...,...
81,Nissan,Nissan Sentra 18 B17 Exclusive,48500000,Sedán,2015,https://articulotucarrocomco/MCO-849094927-nissan-sentra-2015-18-b17-exclusive-_JM#position=30&search_layout=grid&type=item&tracking_id=8a9d10d1-ecc4-4541-96cb-332846426477
82,Nissan,Nuevo Nissan Versa Exclusive 2022,78000000,2500,2022,https://articulotucarrocomco/MCO-847681691-nuevo-nissan-versa-exclusive-2022-_JM#position=15&search_layout=grid&type=item&tracking_id=4da86e39-fc75-45a7-b29d-113a52448d05
83,Nissan,Nissan Sentra 18 B17 Fl Exclusive,85900000,18,2021,https://articulotucarrocomco/MCO-825726230-nissan-sentra-2021-18-b17-fl-exclusive-_JM#position=42&search_layout=grid&type=item&tracking_id=d70e50df-dd13-4b96-8443-907840107e66
84,Nissan,Nissan Kicks 16 Exclusive,75400000,Camioneta,2019,https://articulotucarrocomco/MCO-622295780-nissan-kicks-2019-16-exclusive-_JM#position=15&search_layout=grid&type=item&tracking_id=c9ea9778-4041-4fe9-9258-ddff69cf6f60
86,Sentra,Exclusive Aut,42500000,44700,2016,https://wwwautocosmoscomco/auto/usado/nissan/sentra/exclusive-aut/e2046ce53e564c96b5fc6d0edfe81be3

In [9]:
k_ex[['price', 'km']]

       price         km
0   71500000      5500
3   74800000     19300
4   94800000      2736
6   74990000     37000
7   65000000     41000
..       ...        ...
81  48500000      Sedán
82  78000000      2500
83  85900000         18
84  75400000  Camioneta
86  42500000     44700

[75 rows x 2 columns]

In [10]:
k_ex[['price', 'km']].describe().astype(int)

           price  km
count         75  75
unique        21  14
top     71500000  18
freq           4  16